@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
  font-weight: 400;
}

button {
  background: none;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'KBO-Dia-Gothic_bold';
}

.hide {
  display: none !important;
}

.title {
  display: none;
}

.score-board {
  display: block;
  text-align: right;
  margin: 5px;
  font-size: 1.6rem;
}

.container {
  display: flex;
  background: #000;
  padding-top: 1rem;
  color: #fff;
  width: 100vw;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
}

.left,
.right {
  width: 100%
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}

.left {
  border-bottom: 1px solid #fff;
}

.left-title,
.right-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.views {
  text-align: center;
  font-size: 1.5rem;
}

iframe {
  flex-grow: 1;
  margin-bottom: 10px;
}

.more-btn,
.less-btn {
  width: 49%;
  height: 2rem;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
}

.modal {
  position: absolute;
  border-radius: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #f7f7ff;
}

.modal-desc {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 2.4rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.ranking,
.replay {
  width: 50%;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: 'KBO-Dia-Gothic_bold';
}

.modal-username {
  z-index: 100;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

.modal-ranking {
  justify-content: start;
  height: 90%;
  padding: 24px;
  flex-direction: column;
  overflow: scroll;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 8px;
}

.ranking-item-title {
  margin-bottom: 2rem;
}

.ranking-item-rank {
  width: 20%;
}

.ranking-item-username {
  width: 60%;
  margin-left: 3rem;
}

.ranking-item-score {
  width: 20%;
}

.username-title {
  font-size: 1.6rem;
  color: #000;
}

.username-input {
  width: 70%;
  padding: 1rem;
  margin-right: 12px;
  border: 1px solid #000;
  border-radius: 5px;
}

.username-btn {
  font-size: 1.6rem;
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 50;
  width: 100vw;
  height: 100vh;
}


@media screen and (min-width:768px) {
  .title {
    display: block;
    margin-top: 24px;
    color: #fff;
    text-align: center;
    font-size: 3rem;
  }
  .score-board {
    margin: 24px;
  }
  .container {
    flex-direction: row;
    align-items: center;
    height: 80vh;
  }
  .left,
  .right {
    width: 50%;
  }
  .left {
    border: 0;
  }

  .left-title,
  .right-title {
    margin-bottom: 12px;
  }
  .modal-desc {
    font-size: 24px;
  }

  .ranking-item {
    padding: 0 10%;
  }
}